<h1><%= @group.name %></h1>
<% if current_user == @group.user %>
  <%= link_to "Delete group", group_path(@group), data:{turbo_method: :delete, turbo_confirm: "Are you sure ?"} %>
<% end %>
  <%= simple_form_for [@group, @group_member] do |g| %>
    <%= g.input :user_id, collection: User.all, label_method: :email %>
    <%= g.submit %>
  <% end %>
<h2>Members</h2>
<ul>
  <li><%= @group.user.email %> (Owner)</li>
  <% @group.group_members.each do |group_member| %>
    <li><%= group_member.user.email %> <%= link_to "Delete", group_member_path, data:{turbo_method: :delete, turbo_confirm: "Are you sure ?"} %></li>
  <% end %>
</ul>

<div data-controller="flatpickr">
  <%= simple_form_for [@group, @event] do |f| %>
        <%= f.input :name %>
        <%= f.input :start_time, as: :string, required: false, input_html: {id: "range_start"} %>
        <%= f.input :end_time, as: :string, required: false, input_html: {id: "range_end"} %>
        <%= f.button :submit, "Go", class: "btn btn-primary" %>
  <% end %>
</div>

<%= month_calendar(events: @events) do |date, events| %>
  <%= date.day %>

<% events.each do |event| %>
    <div>
      <%= event.name %>
    </div>
  <% end %>
<% end %>
